<!DOCTYPE html>
<html lang="en">
    <%- include("head"); %>

    <body>
        <%- include("header"); %>
        <h1>Delete message</h1>
        <p>Are you sure you want to delete this message?</p>
        <form action="" method="post">
            <button>Yes</button>
        </form>
        <a href="/">No, get me out of here</a>
    </body>
</html>
