<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form action="" method="post">
        <label for="username">
            <input type="text" name="username" id="username">
        </label>
        <label for="password">
            <input type="password" name="password" id="password">
        </label>
        <button>Sign in</button>
    </form>
</body>
</html>
