<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form action="" method="post">
        <label for="username">
            <input type="text" name="username" id="username" required>
        </label>
        <label for="password">
            <input type="password" name="password" id="password" required>
        </label>
        <button>Sign in</button>
    </form>
    <% if (errors && errors.length !== 0) { %>
        <% for (const error of errors) { %>
            <p><%= error %></p>
        <% } %>
    <% } %>
</body>
</html>
