<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Access</title>
</head>
<body>
    <h1>Members Access</h1>
    <p>Enter in the entry code below to gain member status:</p>   
    <form action="" method="post">
        <label for="code">Code:</label>
        <input type="text" name="code" id="code">
        <button>Enter</button>
    </form>
    <% if (errors) { %>
        <% for (const error of errors.array()) { %>
            <p><%= error.msg %></p>
        <%}%>
    <%}%>
</body>
</html>
