<!DOCTYPE html>
<html lang="en">
    <%- include("head"); %>

    <body>
        <%- include("header"); %>

        <h1>Members Access</h1>
        <p>Enter in the entry code below to gain member status:</p>

        <form action="" method="post">
            <label for="code">Code:</label>
            <input type="text" name="code" id="code" required />
            <button>Enter</button>
        </form>

        <% if (errors) { %> <% for (const error of errors.array()) { %>
        <p><%= error.msg %></p>
        <%}%> <%}%>
    </body>
</html>
